body{
  color:black;
  font-family: "Bad Script", "Futura";
  text-align:center;
  background-color: #F2E9D8;
}
h1{
  margin:0 auto;
}
.container-fluid{
  top:20px;
  position:absolute;
  z-index: 0;
}
.spillContainer{
  position:absolute;
  height: 1000px;
  width: 1000px;
}
#underline{
  height:20px;
  width:400px;
}
#infoBox{
  margin:10px;
  margin:0 auto;
}
#warButton{
  position:absolute;
  top:215px;
  left:525px;
  z-index: 104;
}
.card{
  border: 1px solid black;
  width:200px;
  height:286px;
  margin: 0 auto;
  border-radius:8%;
  perspective: 1000px;
}
.cardSmall{
  border: 1px solid black;
  width:100px;
  height:143px;
  margin: 0 auto;
  border-radius:8%;
}
#war-row{
  margin:0 auto;
}
.cardback{
  background-image: url('../img/cardback.jpg');
  background-size: cover;
  margin: 0 auto;
  z-index: 2;
  transform: rotateY(0deg);
}
.back{
  transform: rotateY(180deg);
}
.cardback, .back {
  backface-visibility: hidden;
}
#player1{
  position:relative;
}
#p1InPlayCard, #p2InPlayCard{
  border: 1px solid black;
  margin:0 auto;
  width:200px;
  height:286px;
  border-radius:8%;
  background-color:white;
}
.flipContainer{
  transition: 0.05s;
  transform-style: preserve-3d;
  position: absolute;
  top:0;
  z-index: 101;
}
.flipContainer2{
  transition: 0.05s;
  transform-style: preserve-3d;
  position: absolute;
  top:0;
  z-index: 101;
}
.row{
  margin: 0 auto;
  text-align:center;
}
#arrow{
  width:100px;
  height:35px;
  margin:10px 0 0 0;
}
.signForArrow{
  margin:50px 0 0 0;
}
.yours{
    background-image: url('../img/cardback.jpg');
    width:200px;
    height:286px;
    border:1px solid black;
    background-size: cover;
}
.theirs{
    background-image: url('../img/cardback.jpg');
    width:200px;
    height:286px;
    border:1px solid black;
    background-size: cover;
}
.c2{
  background-image: url('../img/royal/2d.jpg');
  background-size: cover;
}
.c3{
  background-image: url('../img/royal/3.jpg');
  background-size: cover;
}
.c4{
  background-image: url('../img/royal/4h.jpg');
  background-size: cover;
}
.c5{
  background-image: url('../img/royal/5.jpg');
  background-size: cover; 
}
.c6{
  background-image: url('../img/royal/6.jpg');
  background-size: cover;
}
.c7{
  background-image: url('../img/royal/7.jpg');
  background-size: cover; 
}
.c8{
  background-image: url('../img/royal/8c.jpg');
  background-size: cover;
}
.c9{
  background-image: url('../img/royal/9c.jpg');
  background-size: cover;
}
.c10{
  background-image: url('../img/royal/10d.jpg');
  background-size: cover;
}
.c11{
  background-image: url('../img/royal/11.jpg');
  background-size: cover;
}
.c12{
  background-image: url('../img/royal/12h.jpg');
  background-size: cover;
}
.c13{
  background-image: url('../img/royal/13.jpg');
  background-size: cover;
}
.c14{
  background-image: url('../img/royal/14.jpg');
  background-size: cover;
}
.c15{
  background-image: url('../img/royal/15.jpg');
  background-size: cover;
}
.player1Text{
    background-color: #549587;
    font-family: "Futura";
    color:white;
    border-radius:2%;
    width:270px;
    margin: 0 auto;
    height:21px;
    font-size:14px;
    font-weight: 100;
}
.player2Text{
    background-color: #2A3491;
    font-family: "Futura";
    color:white;
    border-radius:2%;
    width:270px;
    margin: 0 auto;
    height:21px;
    font-size:14px;
    font-weight: 100;
}
.warText{
    background-color: #F2E9D8;
    border-radius:2%;
    width:270px;
    height:21px;
}
@media(max-width:1230px){
  body{
    color:black;
    font-family: "Bad Script", "Futura";
    text-align:center;
    background-color: #F2E9D8;
  }
  h1{
    margin:0 auto;
    font-size:27px;
  }
  .container-fluid{
    top:20px;
    position:absolute;
    z-index: 0;
    width:1230px;
    height:1230px;
  }
  .spillContainer{
    position:absolute;
    height: 750px;
    width: 750px;
  }
  #underline{
    height:15px;
    width:300px;
  }
  #infoBox{
    margin:7.5px;
    margin:0 auto;
  }
  #warButton{
    position:absolute;
    top:170px;
    left:500px;
    z-index: 104;
    }
  .card{
    border: 1px solid black;
    width:150px;
    height:214.5px;
    margin: 0 auto;
    border-radius:8%;
    perspective: 750px;
    background-size: cover;
  }
  .cardSmall{
    border: 1px solid black;
    width:56.25px;
    height:107.25px;
    margin: 0 auto;
    border-radius:8%;
  }
  #war-row{
    margin:0 auto;
  }
  .cardback{
    background-image: url('../img/cardback.jpg');
    background-size: cover;
    margin: 0 auto;
    z-index: 2;
    transform: rotateY(0deg);
  }
  .back{
    transform: rotateY(180deg);
  }
  .cardback, .back {
    backface-visibility: hidden;
  }
  #player1{
    position:relative;
    width:150px;
    height:214.5px;
  }
  #p1InPlayCard, #p2InPlayCard{
    border: 1px solid black;
    margin:0 auto;
    width:150px;
    height:214.5px;
    background-size: cover;
    border-radius:8%;
    background-color:white;
  }
  .flipContainer{
    transition: 0.05s;
    transform-style: preserve-3d;
    position: absolute;
    top:0;
    z-index: 101;
    width:150px;
    height:214.5px;
    background-size: cover;
  }
  .flipContainer2{
    transition: 0.05s;
    transform-style: preserve-3d;
    position: absolute;
    top:0;
    z-index: 101;
    width:150px;
    height:214.5px;
    background-size: cover;
  }
  .row{
    margin: 0 auto;
    text-align:center;
  }
  #arrow{
    width:75px;
    height:26.25px;
    margin:7.5px 0 0 0;
  }
  .signForArrow{
    margin:37.5px 0 0 0;
  }
  .yours{
      background-image: url('../img/cardback.jpg');
      width:150px;
      height:214.5px;
      border:1px solid black;
      background-size: cover;
  }
  .theirs{
      background-image: url('../img/cardback.jpg');
      width:150px;
      height:214.5px;
      border:1px solid black;
      background-size: cover;
  }